.page {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.contents {
  display: grid;
  grid-template-columns: 75% 25%;
}

.main {
  display: grid;
  grid-template-rows: 15vh 40vh 10vh 35vh;
}

.target-info {
  display: grid;
  grid-template-columns: 30% 35% 35%;
  padding: 5px;
}

.target-title {
  border: 2px solid black;
  background-color: #a59aca;
}

.target-basic-form {
  display: grid;
  grid-template-rows: 30% 70%;
}

.target-basic-form-title {
  border: 2px solid black;
  background-color: #a59aca;
}

.target-basic-form-value {
  border: 2px solid black;
  background-color: white;
}

.target-katsuyo-type {
  display: grid;
  grid-template-rows: 30% 70%;
}

.target-katsuyo-type-title {
  border: 2px solid black;
  background-color: #a59aca;
}

.target-katsuyo-type-value {
  border: 2px solid black;
  background-color: white;
}

.reels {
  display: grid;
  grid-template-rows: 20% 80%;
}

.reel-headers {
  display: grid;
  grid-template-columns: 22% 13% 13% 13% 13% 13% 13%;
}

.reel-header {
  border: 4px solid #222222;
  box-shadow: inset 0.5px 0.5px 0.5px 0.5px black;
}

.reel-windows {
  display: grid;
  grid-template-columns: 22% 13% 13% 13% 13% 13% 13%;
}

.reel-gokan {
  border: 4px solid #222222;
  box-shadow: inset 0.5px 0.5px 0.5px 0.5px black;
}

.reel-window{
  display: grid;
  grid-template-rows: 25% 50% 25%;
  border: 4px solid #222222;
}

.reel-window-top {
  box-shadow: inset 0.5px 0.5px 0.5px 0.5px black;
  background-color: gray;
}

.reel-window-middle {
  box-shadow: inset 0.5px 0.5px 0.5px 0.5px black;
  background-color: white;
}

.reel-window-bottom {
  box-shadow: inset 0.5px 0.5px 0.5px 0.5px black;
  background-color: gray;
}

.stop-buttons {
  display: grid;
  grid-template-columns: 22% 13% 13% 13% 13% 13% 13%;
  align-items: center;
}

.stop-button {
  margin: 2px;
  height: 70%;
}

.marquee {
  background-color: darkblue;
}

.side {
  display: grid;
  grid-template-rows: 15vh 50vh 35vh;
}

.side-header {
  display: grid;
  grid-template-rows: 30% 70%;
  border: 5px solid black;
}

.coin-status-title {
  border: 2px solid black;
  background-color: #a59aca;
}

.coin-status {
  border: 2px solid black;
  background-color: white;
}

.lever {
  display: grid;
  grid-template-rows: 10% 90%;
  padding: 7px;
}

.lever-title {
  background-color: #a59aca;
}

.lever-button {
  margin: 3px;
  background-color: #e0e0e0
}

.game-settings {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  border: 5px solid black;
  background-color: #c0c0c0
}

.setting {
  margin: 1px;
  display: grid;
  grid-template-columns: auto;
}

.setting-button {
  margin: 5px;
  background-color: #a59aca;
}


