.page {
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

.frame {
  background-color: green;
}

.contents {
  display: grid;
  grid-template-columns: 75% 25%;
  background-color: red;
}

.main {
  display: grid;
  grid-template-rows: 15vh 40vh 10vh 35vh;
  background-color: yellow;
}

.target-info {
  display: grid;
  grid-template-columns: 30% 35% 35%;
  padding: 5px;
  background-color: coral;
}

.target-title {
  background-color: chartreuse;
}

.target-basic-form {
  display: grid;
  grid-template-rows: 30% 70%;
  background-color: blueviolet;
}

.target-basic-form-title {
  background-color: cadetblue;
}

.target-basic-form-value {
  background-color: cornflowerblue;
}

.target-katsuyo-type {
  display: grid;
  grid-template-rows: 30% 70%;
  background-color: aquamarine;
}

.target-katsuyo-type-title {
  background-color: darkslateblue;
}

.target-katsuyo-type-value {
  background-color: gold;
}

.reels {
  padding: 5px;
  display: grid;
  grid-template-rows: 20% 80%;
  background-color: aqua;
}

.reel-headers {
  display: grid;
  grid-template-columns: 22% 13% 13% 13% 13% 13% 13%;
  padding: 2px;
  background-color: darkgreen;
}

.reel-header {
  margin: 2px;
  background-color:bisque;
}

.reel-windows {
  display: grid;
  grid-template-columns: 22% 13% 13% 13% 13% 13% 13%;
  padding: 2px;
  background-color: fuchsia;
}

.reel-window{
  display: grid;
  grid-template-rows: 25% 50% 25%;
  margin: 2px;
  background-color: darkkhaki;
}

.reel-window-top {
  background-color: greenyellow;
}

.reel-window-middle {
  background-color: wheat;
}

.reel-window-bottom {
  background-color: slategray;
}

.stop-buttons {
  display: grid;
  grid-template-columns: 22% 13% 13% 13% 13% 13% 13%;
  padding: 5px;
  background-color: blueviolet;
}

.stop-button {
  margin: 2px;
  background-color:cyan;
}

.marquee {
  background-color: darkblue;
}

.side {
  
}