*, *::before, *::after { box-sizing: border-box; }

html {
  background-color: white;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #242424; /* 外界の色 */
  overflow: hidden;
}

h1 {
  margin: 0;
  font-family: "HiraginoSans-W0";
}

h2 {
  margin: 0;
  font-family: "HiraginoSans-W0";
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}